@import "tailwindcss";

/* Remove invalid @theme block and use :root for custom properties */
:root {
    --color-primary: #66bfff;
    --color-secondary: #2196F3;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}